<html>
    <head>
        
        <title>Trabajo Practico N&uacute;mero Uno</title>       

    </head>
    <body>        
        
        <h1>Formulario de Ejemplo</h1>

        <form action="/formulario" method="POST">

            <label for="nombre">Nombre: </label> <br> <br>
            <input type="text" 
                   id="nombre" 
                   name="nombre" 
                   placeholder="Ingrese su nombre" required/> <br> <br>

            <label for="apellido">Apellido: </label> <br> <br>
            <input type="text" 
                   id="apellido" 
                   name="apellido" 
                   placeholder="Ingrese su Apellido" required/> <br> <br>
            <button type="submit">Sum&eacute;rjase en Flask</button>

        </form>
    
    </body>
</html>
